html, body {
	height: 100%;
	width: 100%;
}

#registerPage {
	width: 20%;
	margin: 0 auto;
	border: solid 1px #ccc;
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-left: 800px;
	padding: 1em;
}

#pageContainer {
	height: 100%;
	width: 100%;
	background: url(../images/Michigan.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-transition: background-image 500ms ease-out 1s;
    -moz-transition: background-image 500ms ease-out 1s;
    -o-transition: background-image 500ms ease-out 1s;
    transition: background-image 500ms ease-out 1s;
    padding-top: 2em;
}

h1 {
	padding-left: 2em;
}

a:hover {
	text-decoration: none;
}